@model List< AdvertisementAppUserListDto>
@{
    Layout = "_Layout";
}

<div class="container-fluid">
    @{ if (Model?.Count > 0)
        {
        <div class="text-end my-3 p-1">
            <a asp-action="ApprovedList" asp-controller="Advertisement" >Mülakata Çağrılan Başvurular</a> |
            <a asp-action="RejectedList" asp-controller="Advertisement">Reddedilen Başvurular</a>
        </div>
            
            <table class="mt-3 table table-sm table-hover" table-stripped>
                <thead>
                    <tr>
                        <th>Başvurulan İlan</th>
                        <th>Başvuran Aday</th>
                        <th>Cinsiyet</th>
                        <th>Başvurunun Durumu</th>
                        <th>Askerlik Durumu</th>
                        <th>Tecil Bitiş Tarihi</th>
                        <th>İş Deneyimi(Yıllık)</th>
                        <th>Süreç</th>
                        <th>Ret</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Advertisement.Title</td>
                            <td>@item.AppUser.FirstName @item.AppUser.SecondName</td>
                            <td>@item.AppUser.Gender.Definition</td>
                            <td>@item.AdvertisementAppUserStatus.Definition</td>
                            <td>@item.MilitaryStatus.Definition</td>
                            <td>@(item.EndDate == null? "----" :item.EndDate?.ToString("dddd, dd MMMM yyyy")) </td>
                            <td>@item.WorkExperience </td>
                            <td><a class="btn btn-outline-success">Mülakata Çağır</a></td>
                            <td><a class="btn btn-outline-warning">Reddet</a></td>


                        </tr>
                    }


                </tbody>

            </table>

        }
        else
        {
            <div class="mt-3 text-center lead">
                Herhangi Bir Başvuru Bulunmamaktadır
            </div>

        }


    }


</div>
